@charset "utf-8";
/* 
    СБРОС СТИЛЕЙ ПО УМОЧАНИЮ
    УСТАНОВКА СТИЛЕЙ ДЛЯ ОСНОВНЫХ НЕВИДИМЫХ БЛОКОВ
*/

@font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.eot?22619757');
    src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'), url('../font/symbols-technomart.woff?22619757') format('woff'), url('../font/symbols-technomart.ttf?22619757') format('truetype'), url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: white;
}

p,
ul,
h3,
h2,
h1,
figure,
input {
    margin: 0;
    padding: 0;
}

figure {
    line-height: 0;
}

ul {
    list-style: none;
}

label {
    display: block;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}
/* ОСНОВНЫЕ СТИЛИ САЙТА */

.header-upper-logo {
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.header-upper-search input {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-search input::-webkit-input-placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-upper-search input::-moz-placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-upper-search input:-moz-placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-upper-search input:-ms-input-placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-upper-search input:focus::-webkit-input-placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-search input:focus::-moz-placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-search input:focus:-moz-placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-search input:focus:-ms-input-placeholder {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.header-upper-cart,
.header-upper-order,
.header-upper-bookmark {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.header-upper-cart:active,
.header-upper-order:active,
.header-upper-bookmark:active {
    color: #a2a5a9;
}

.header-middle-about {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #ee3643;
    font-style: italic;
}

.header-user-login,
.header-block-user,
.header-user-registration,
.header-contacts-telephone {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #e9292a;
}

.header-contacts-address {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #32425c;
}

.header-user-login,
.header-block-user,
.header-user-registration {
    color: #000000;
    text-decoration: none;
}

.header-user-login:hover,
.header-user-registration:hover {
    color: #ee3643;
}

.header-user-login:active,
.header-block-user:active,
.header-user-registration:active {
    color: #b2b2b2;
}

.header-bottom-panel a {
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.header-bottom-panel a:active {
    opacity: .5;
}

.offer-item-type {
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.slider-btn,
.filter-btn,
.service-btn,
.popular-btn,
.feedback-btn,
.offer-item-info,
.catalog-item-buy,
.company-about-btn,
.company-feedback-btn,
.catalog-item-bookmark {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.offer-slider-title {
    font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.offer-slider-info,
.footer-panel-offer a,
.footer-panel-address,
.footer-panel-contacts a {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.popular-text,
.service-title,
.catalog-title,
.company-promo-title,
.company-contacts-title {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.service-title,
.company-promo-title,
.company-contacts-title {
    color: #000000;
}

.service-list-column a {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

.service-list-column .service-list-active {
    color: #32425c;
}

.service-details-title {
    font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.catalog-item-bookmark {
    color: #32425c;
}

.catalog-item-bookmark:active {
    opacity: .3;
}

.company-promo-list li {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
}

.footer-panel-logo {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-panel-offer a {
    color: #ffd180;
    text-decoration: none;
}

.footer-panel-offer a:hover,
.footer-panel-contacts a:hover {
    text-decoration: underline;
}

.footer-panel-offer a:active {
    opacity: .5;
    text-decoration: none;
}

.footer-panel-contacts a:active {
    opacity: .5;
    text-decoration: none;
}

.footer-bottom-design,
.footer-bottom-feedback,
.footer-bottom-copyright {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom-design a,
.footer-bottom-feedback a {
    color: #ffd180;
    text-decoration: none;
}

.footer-bottom-design a:hover,
.footer-bottom-feedback a:hover {
    text-decoration: underline;
}

.footer-bottom-design a:active,
.footer-bottom-feedback a:active {
    text-decoration: none;
    opacity: .5;
}

.feedback-data {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.filter-btn,
.feedback-cancel {
    color: #000000;
}

.feedback input,
.feedback textarea {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.feedback input::-webkit-input-placeholder,
.feedback textarea::-webkit-input-placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #999999;
}

.feedback input::-moz-placeholder,
.feedback textarea::-moz-placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #999999;
}

.feedback input:-moz-placeholder,
.feedback textarea:-moz-placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #999999;
}

.feedback input:-ms-input-placeholder,
.feedback textarea:-ms-input-placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #999999;
}

.catalog-item-model,
.catalog-item-price,
.catalog-item-vendor {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}

.catalog-item-price {
    color: #999999;
    text-decoration: line-through;
}

.catalog-item-discount {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
}

.perforators-about,
.company-promo-info,
.service-title-info,
.service-details-info,
.company-contacts-info {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.header-links-element {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
}

.header-links-element:hover {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ee3643;
}

.header-links-element:active {
    opacity: 0.3;
    color: #999999;
}

.breadcrumbs a,
.breadcrumbs span,
.catalog-options p,
.catalog-paginator a,
.catalog-paginator span,
.catalog-filter-column p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-column h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-paginator span {
    color: #ffffff;
}

.catalog-filter-column label {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-column input[type="text"] {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;
}

.catalog-options-variant {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #c9c9c9;
    border-bottom-style: dotted;
    border-bottom-color: #ee3643;
    border-bottom-width: thin;
    text-transform: uppercase;
    text-decoration: none;
}

.catalog-options-variant:hover {
    color: #000000;
    border-bottom-style: solid;
}

.catalog-options-variant:active {
    color: #ee3643;
    border-bottom-style: none;
}