@charset "utf-8";
/* 
    СБРОС СТИЛЕЙ ПО УМОЧАНИЮ
    УСТАНОВКА СТИЛЕЙ ДЛЯ ОСНОВНЫХ НЕВИДИМЫХ БЛОКОВ
*/

@font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.eot?22619757');
    src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'), url('../font/symbols-technomart.woff?22619757') format('woff'), url('../font/symbols-technomart.ttf?22619757') format('truetype'), url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: white;
}

p,
ul,
h3,
h2,
h1,
figure,
input {
    margin: 0;
    padding: 0;
}

figure {
    line-height: 0;
}

ul {
    list-style: none;
}

label {
    display: block;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}
/* ОФОРМЛЕНИЕ ТЕКСТА */

.header-upper-panel a,
.header-upper-panel label,
.header-upper-panel input {
    font-size: 17px;
    line-height: 18px;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.header-upper-panel .header-upper-logo {
    font-size: 24px;
    line-height: 26px;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.header-middle-about {
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
    font-style: italic;
}

.header-block-contacts {
    font-size: 21px;
    line-height: 21px;
    color: red;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
}

.header-block-address,
.footer-bottom-copyright p,
.footer-bottom-feedback a,
.footer-bottom-feedback p,
.footer-bottom-design p,
.footer-bottom-design a,
.header-links-element {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
}

.header-links-element {
    text-decoration: underline;
    color: #32425c;
}

.footer-bottom-copyright p,
.footer-bottom-feedback p,
.footer-bottom-design p {
    color: white;
}

.header-block-login,
.header-block-registration,
.header-block-user {
    font-size: 21px;
    line-height: 21px;
    color: black;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.header-bottom-panel a {
    font-size: 17px;
    line-height: 17px;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.offer-item-type {
    font-size: 24px;
    line-height: 30px;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-weight: 700;
}

.offer-item-info,
.service-btn,
.slider-btn,
.popular-btn,
.company-about-btn,
.company-feedback-btn,
.catalog-item-buy,
.catalog-item-bookmark,
.feedback-cancel,
.feedback-btn,
.cart-form-btn,
.cart-continue-btn,
.catalog-item-bookmark {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.feedback-cancel,
.cart-continue-btn {
    color: black;
}

.catalog-item-bookmark {
    color: #32425c;
}

.popular-text,
.company-promo-title,
.company-contacts-title,
.catalog-title,
.perforators-title,
.cart p {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.catalog-item-vendor,
.catalog-item-model {
    font-size: 18px;
    line-height: 20px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.catalog-item-price,
.catalog-item-discount {
    font-size: 17px;
    line-height: 17px;
    color: #999;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-decoration: line-through;
    text-transform: uppercase;
}

.catalog-item-discount {
    color: white;
    text-decoration: none;
}

.service-title {
    font-size: 30px;
    line-height: 30px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.service-title-info,
.service-details-info,
.company-promo-info,
.company-contacts-info,
.perforators-about {
    font-size: 13px;
    line-height: 24px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.service-list-column ul a {
    font-size: 21px;
    line-height: 30px;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.service-list-column ul a.service-list-active {
    color: #32425c;
}

.service-details-title,
.offer-slider-title {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
}

.offer-slider-title {
    font-weight: 700;
    color: white;
}

.company-promo-list {
    font-size: 18px;
    line-height: 20px;
    color: black;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
}

.footer-panel-logo {
    font-size: 30px;
    line-height: 30px;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-panel-contacts a,
.footer-panel-address p,
.footer-panel-offer a,
.offer-slider-info {
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.footer-panel-offer a,
.footer-bottom-feedback a,
.footer-bottom-design a {
    color: #ffd180;
    text-decoration: none;
}

.feedback-data {
    font-size: 18px;
    line-height: 18px;
    color: black;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
}

.breadcrumbs span,
.breadcrumbs a,
.catalog-options label,
.catalog-options a,
.catalog-options p,
.catalog-filter-column p,
.filter-btn,
.catalog-paginator a,
.catalog-paginator span {
    font-size: 13px;
    line-height: 18px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-paginator span {
    color: white;
}

a.catalog-options-variant {
    color: #c3c0ba;
    border-bottom-style: dotted;
    border-bottom-color: red;
    border-bottom-width: thin;
}

.catalog-up-arrow,
.catalog-down-arrow {
    color: #c3c0ba;
}

a.catalog-options-active {
    color: #ee3643;
    border-bottom-style: none;
    text-decoration: none;
}

.catalog-filter-title {
    font-size: 17px;
    line-height: 30px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-filter-column label {
    font-size: 15px;
    line-height: 20px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-range-price {
    font-size: 17px;
    line-height: 18px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
/* СТИЛИ ВЕРХНЕГО МЕНЮ */

header {
    background-color: #f1f5f7;
    padding-bottom: 65px;
}

.header-upper-panel {
    font-size: 0;
    background-color: #293449;
}

.header-upper-panel a,
.header-upper-panel input,
.header-upper-panel label,
.header-upper-panel .header-upper-search {
    display: inline-block;
    vertical-align: top;
}

.header-upper-logo {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 52px;
    padding-right: 52px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.header-upper-logo:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.header-upper-logo:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.header-upper-search {
    position: relative;
}

.header-upper-search label::before {
    position: absolute;
    top: 11px;
    left: 17px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f50d";
    color: white;
    opacity: .3;
    cursor: pointer;
}

.header-upper-search input {
    width: 200px;
    height: 18px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 17px;
    line-height: 18px;
    outline: 0;
    border: none;
    cursor: pointer;
    background-color: #293449;
}

.header-upper-panel input:hover {
    background-color: #212a3a;
}

.header-upper-panel input:hover + label::before {
    opacity: 1;
}

.header-upper-panel input:focus {
    color: black;
    background-color: white;
}

.header-upper-panel input:focus + label::before {
    color: #ee3643;
    opacity: 1;
}

.header-upper-panel input::-webkit-input-placeholder {
    color: white;
}

.header-upper-panel input::-moz-input-placeholder {
    color: white;
}

.header-upper-panel input::-ms-input-placeholder {
    color: white;
}

.header-upper-panel input:focus::-webkit-input-placeholder {
    color: black;
}

.header-upper-panel input:focus::-moz-input-placeholder {
    color: black;
}

.header-upper-panel input:focus::-ms-input-placeholder {
    color: black;
}

.header-upper-bookmark {
    position: relative;
    width: 105px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 45px;
}

.header-upper-bookmark::before {
    position: absolute;
    top: 11px;
    left: 17px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f516";
    color: white;
    opacity: .3;
}

.header-upper-bookmark:hover {
    color: white;
    background-color: #212a3a;
}

.header-upper-bookmark:hover::before {
    opacity: 1;
}

.header-upper-bookmark:active {
    opacity: .6;
    background-color: #293449;
}

.header-upper-bookmark:active::before {
    opacity: .5;
}

.header-upper-cart {
    position: relative;
    width: 105px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 45px;
}

.header-upper-cart::before {
    position: absolute;
    top: 11px;
    left: 17px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\62";
    color: white;
    opacity: .3;
}

.header-upper-cart:hover {
    color: white;
    background-color: #212a3a;
}

.header-upper-cart:hover::before {
    opacity: 1;
}

.header-upper-cart:active {
    opacity: .6;
    background-color: #293449;
}

.header-cart-full {
    background-color: #ee3643;
}

.header-cart-full:hover {
    background-color: #ca2c37;
}

.header-cart-full:active {
    background-color: #ba2732;
}

.header-upper-order {
    width: 108px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-right: 20px;
    padding-left: 22px;
    background-color: #63a63e;
}

.header-upper-order:hover {
    background-color: #5fbb2d;
}

.header-upper-order:active {
    background-color: #518534;
}
/* ВЕРСТА СРЕДНЕЙ ПАНЕЛИ МЕНЮ */

.header-middle-block {
    float: left;
}

.header-middle-block {
    padding-top: 50px;
    padding-bottom: 40px;
}

.header-middle-about {
    width: 200px;
    margin-right: 70px;
    padding-left: 53px;
}

.header-middle-contacts {
    margin-right: 100px;
    text-align: center;
}

.header-block-contacts {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 9px;
    border: 3px solid white;
}

.header-block-contacts::before {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f4de";
    color: #b7bfc8;
}

.header-middle-user {
    font-size: 0;
}

.header-block-user {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 65px;
    padding-bottom: 10px;
    margin-bottom: 9px;
    text-align: center;
    background-color: white;
}

.header-block-user::before {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f468";
    color: #b7bfc8;
}

.header-block-user::after {
    position: absolute;
    top: 14px;
    right: 11px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\241b";
    color: #b7bfc8;
}

.header-block-user:hover::after,
.header-block-user:hover::before {
    color: #32425c;
}

.header-block-user:active,
.header-block-user:active:before,
.header-block-user:active:after {
    color: rgba(0, 0, 0, 0.3);
}

.header-block-links {
    font-size: 0;
    text-align: center;
}

.header-block-links li {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.header-block-links li::after {
    position: absolute;
    top: 0;
    left: 115%;
    font-size: 20px;
    content: "•";
    color: #32425c;
}

.header-block-links li:last-child::after {
    font-size: 0;
}

.header-block-links a:hover {
    color: #ee3643;
}

.header-block-links a:active {
    color: black;
    opacity: .3;
}

.header-middle-login {
    float: right;
    padding-top: 45px;
    font-size: 0;
}

.header-middle-login a {
    display: inline-block;
    margin-right: 10px;
}

.header-middle-login a:last-child {
    margin-right: 0;
}

.header-block-login {
    position: relative;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 47px;
    padding-right: 27px;
    background-color: white;
}

.header-block-registration {
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

.header-block-login::before {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\241b";
    color: #b7bfc8;
}

.header-block-login:hover,
.header-block-registration:hover {
    color: #ee3643;
}

.header-block-login:hover::before {
    color: #32425c;
}

.header-block-login:active,
.header-block-registration:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-block-login:active::before {
    color: #b7bfc8;
}

.header-bottom-panel {
    font-size: 0;
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
    text-align: center;
}

.header-bottom-panel a {
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-bottom-panel a:hover {
    background-color: #293449;
}

.header-bottom-panel a:active {
    color: #a6a8ad;
    background-color: #1d2739;
    box-shadow: 0 5px 0 0 #1d2739;
}
/* ХЛЕБНЫЕ КРОШКИ */

.breadcrumbs {
    position: relative;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 0;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    margin-right: 40px;
}

.breadcrumbs a,
.breadcrumbs span {
    display: block;
}

.breadcrumbs li:first-child {
    margin-left: 55px;
}

.breadcrumbs::before {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\1f3e0";
    color: #b7bfc8;
}

.breadcrumbs li::before {
    position: absolute;
    top: 0;
    left: -22px;
    font-size: 17px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\3e";
    color: #b7bfc8;
}

.catalog-title {
    margin-bottom: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 30px;
    background-color: #f2f6f8;
}
/* СОРТИРОВКА */

.catalog-filter-column p,
.catalog-options {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.catalog-filter-column p {
    padding-left: 20px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.catalog-options {
    width: 700px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.catalog-options p {
    margin-right: 140px;
    padding-left: 20px;
}

.catalog-options a {
    margin-right: 65px;
}

a.catalog-options-functions {
    margin-right: 45px;
}

.catalog-options {
    font-size: 0;
}

.catalog-options p,
.catalog-options a,
.catalog-options label {
    display: inline-block;
}

.catalog-up-arrow {
    margin-right: 30px;
}

.catalog-up-arrow,
.catalog-down-arrow {
    position: relative;
}

.catalog-down-arrow::before {
    position: absolute;
    top: -13px;
    font-size: 25px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25bc";
    cursor: pointer;
    color: #c3c0ba;
}

.catalog-up-arrow::before {
    position: absolute;
    top: -13px;
    font-size: 25px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25b2";
    cursor: pointer;
    color: #c3c0ba;
}

.catalog-options .catalog-options-active::before {
    color: #ee3643;
}

.catalog-down-arrow:hover::before,
.catalog-up-arrow:hover::before {
    color: black;
}

.catalog-options-variant:hover {
    color: black;
    border-bottom-style: solid;
}

.catalog-up-arrow:active::before,
.catalog-down-arrow:active::before,
.catalog-options-variant:active {
    color: #ee3643;
}

.catalog-options-variant:active {
    border-bottom-style: none;
}
/* ФИЛЬТР */

.catalog-filter-column {
    float: left;
    width: 220px;
}

.catalog-filter-column p {
    margin-bottom: 15px;
}

.catalog-filter-title {
    margin-bottom: 15px;
}
/* ФИЛЬТР ЦЕНЫ */

.catalog-filter-controls {
    position: relative;
    min-height: 2px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 39px;
    padding-bottom: 39px;
    border-radius: 5px;
    background-color: #f7f3ec;
}

.catalog-filter-scale {
    height: 2px;
    background-color: #d7dcde;
}

.catalog-scale-bar {
    width: 70%;
    height: 2px;
    background-color: #00ca74;
}

.catalog-filter-controls .catalog-scale-toggle {
    position: absolute;
    top: 29px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.catalog-min-toggle {
    left: 10px;
}

.catalog-max-toggle {
    left: 60%;
}

.catalog-price-controls {
    font-size: 0;
}

.catalog-price-controls input,
.catalog-price-controls span {
    display: inline-block;
    font-size: 17px;
    line-height: 18px;
}

.catalog-price-controls span,
.catalog-price-controls span+input {
    margin-left: 6px;
}

.catalog-price-controls input {
    width: 95px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: none;
    background: #f7f3ec;
    text-align: center;
    color: #283136;
    border-radius: 5px;
    border: none;
    outline: 0;
}
/* ПРОДОЛЖАЕМ ВЕРСТКУ ФИЛЬТРА */

.catalog-range-filter {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

label + .catalog-filter-title {
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

label + .filter-btn {
    margin-top: 80px;
}

.catalog-filter-column input[type="checkbox"],
.catalog-filter-column input[type="radio"] {
    display: none;
}

.catalog-filter-column label {
    position: relative;
    margin-left: 40px;
    margin-bottom: 25px;
    cursor: pointer;
}

.catalog-filter-column input[type="checkbox"] +label::before {
    position: absolute;
    top: 0;
    left: -40px;
    font-size: 25px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\2610";
    cursor: pointer;
    color: #c3c0ba;
}

.catalog-filter-column input[type="checkbox"]:checked +label::before {
    position: absolute;
    top: 0;
    left: -40px;
    font-size: 25px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\2611";
    cursor: pointer;
    color: #c3c0ba;
}

.catalog-filter-column input[type="checkbox"]:disabled +label,
.catalog-filter-column input[type="radio"]:disabled +label {
    color: #c3c0ba;
}

.catalog-filter-column input[type="checkbox"]:disabled +label::before,
.catalog-filter-column input[type="radio"]:disabled +label::before {
    color: #eaeaea;
}

.catalog-filter-column input[type="radio"] +label::before {
    position: absolute;
    top: 0;
    left: -40px;
    font-size: 25px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25cb";
    cursor: pointer;
    color: #cbcbcb;
}

.catalog-filter-column input[type="radio"]:checked +label::before {
    position: absolute;
    top: 0;
    left: -40px;
    font-size: 25px;
    font-family: "symbols-technomart";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\25cf";
    cursor: pointer;
    color: #c3c0ba;
}

.filter-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 40px;
    padding-left: 40px;
    outline: 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.filter-btn:hover {
    border: 1px solid #bdc6ca;
}

.filter-btn:active {
    border: 1px solid #ee3643;
}
/* ПАГИНАЦИЯ */

.catalog-paginator {
    font-size: 0;
}

.catalog-paginator a,
.catalog-paginator span {
    display: inline-block;
    margin-right: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.catalog-paginator a:last-child {
    padding-left: 31px;
    padding-right: 31px;
}

.catalog-paginator .catalog-paginator-active {
    border: 1px solid #ee3643;
    background-color: #ee3643;
}

.catalog-paginator a:hover {
    border: 1px solid #bdc6ca;
}

.catalog-paginator a:active {
    border: 1px solid #ee3643;
}
/*
ОФОРМЛЕНИЕ ОСНОВНОГО БЛОКА КАТАЛОГА
*/

.catalog-goods-column {
    float: right;
    width: 700px;
}

.catalog-block {
    padding-top: 20px;
}

.catalog-item {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 218px;
    min-height: 340px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

.catalog-item.new-item::before {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 25px;
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    top: 10px;
    right: -30px;
    color: white;
    content: "new";
    background-color: #ee3643;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item-image {
    width: 218px;
    height: 220px;
}

.catalog-item-buttons {
    display: none;
}

.catalog-item-model {
    margin-bottom: 15px;
}

.catalog-item-price {
    margin-bottom: 10px;
}

.catalog-item-discount {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 19px;
    padding-left: 34px;
    background-color: #ee3643;    
}

.catalog-item-discount:after {
    position: absolute;
    content: "";
    top: 0;
    right: -18.5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21.5px 0 21.5px 19px;
    border-color: transparent transparent transparent #ee3642;
}